* {
  box-sizing: border-box;
}

h2 {
  width: 100%;
  text-align: center;
  opacity: .8;
  margin: 35px 0;
  font-family: 'Times New Roman', Times, serif;
}

.form-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.name-email {
  display: flex;
  column-gap: 15px;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
  row-gap: 5px;
}

.input-container span {
  opacity: .7;
  font-size: .8rem;
}

.input-container input {
  /* width: 100%; */
  padding: 10px;
  outline-color: lightblue;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 4px;
}

textarea {
  width: 100%;
  outline-color: lightblue;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  color: white;
  background-color: #69727b;
  cursor: pointer;
  border-radius: 3px;
}


@media (max-width: 450px) {
  * {
    box-sizing: border-box;
  }
  
  h2 {
    width: 100%;
    text-align: center;
    opacity: .8;
    margin: 35px 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .form-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  
  .name-email {
    display: flex;
    column-gap: 15px;
    width: 100%;
    flex-direction: column;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    row-gap: 5px;
  }
  
  .input-container span {
    opacity: .7;
    font-size: .8rem;
  }
  
  .input-container input {
    /* width: 100%; */
    padding: 10px;
    outline-color: lightblue;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
  }
  
  textarea {
    width: 100%;
    outline-color: lightblue;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    color: white;
    background-color: #69727b;
    cursor: pointer;
    border-radius: 3px;
  }  
}