* {
  box-sizing: border-box;
}


body {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


.top-note {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  padding: 12px;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

header img {
  width: 120px;
}

ul {
  display: flex;
  column-gap: 15px;
  padding: 0;
}

ul a {
  color: black;
  text-decoration: none;
}

ul a li {
  list-style: none;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  font-size: .95rem;
}
ul a li:hover {
  text-decoration: underline;
}

.about-vendor {
  display: grid;
  grid-template-columns: 35% 1fr;
  column-gap: 20px;
  padding: 50px 8%;
}

.about-vendor img {
  width: 100%;
  border-radius: 2px;
}

.about-vendor .vendor-details {
  display: flex;
  flex-direction: column; 
  padding: 25px;
  justify-content: space-between;
}


.detailss {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.about-vendor .vendor-details a {
  text-decoration: none;
  color: white;
  background-color: #69727b;
  font-weight: 300;
  font-size: .8rem;
  padding: 8px;
  margin-top: 200px;
} 

.vendor-full-name {
  font-size: 1.2rem;
}

.title {
  font-size: .9rem;
}

.details {
  font-weight: 200;
  font-size: .85rem;
  line-height: 25px;
}

.motivation-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("https://mesinasanders.com/cdn/shop/files/IMG_7045_2778660f-15f5-4b57-8556-b6201317ed3c.jpg?v=1685224815");
  padding: 55px 30px 15px 30px;
  /* width: 100%; */
}

.qoute-name {
  font-size: 1.55rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.qoute {
  font-size: .9rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  line-height: 22px;
  width: 80%;
  text-align: center;
}

.icons-container {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
}

.icons-container i {
  font-size: .55rem;
  color: gray;
  cursor: pointer;
}

.slide-qoute {
  background-color: rgba(0, 0, 0, 0.345);
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
}

.fa-play-container {
  padding: 5px 10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.345);
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}


.infomation-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  column-gap: 15px;
  border-bottom: 1px solid rgb(163, 163, 163);
}

.infomation-container .vendor-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.vendor-full-name2 {
  font-family: 'Roboto', sans-serif;
}

.vendor-email {
  font-size: .8rem;
  font-family: 'Tillana', system-ui;
  opacity: .8;
}

.vendor-contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.contact-title {
  font-family: 'Roboto', sans-serif;
}

.contact-options {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  column-gap: 10px;
}

.contact-options  a {
  color: black;
  opacity: .8;
  text-decoration: none;
}

.media-link {
  display: flex;
  padding: 20px 0 10px 40px;
  column-gap: 10px;
}

.media-link a img {
  width: 20px;
}

.developer {
  padding: 0 15px 5px 40px;
  font-size: .75rem;
  opacity: .8;
}

.here {
  text-decoration: underline;
}


@media (max-width: 451px) {
  .top-note {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    padding: 12px;
    text-align: center;
    font-size: .9rem;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid gainsboro;
  }
  
  header img {
    width: 100px;
  }
  
  ul {
    display: flex;
    column-gap: 12px;
    padding: 0;
  }
  
  ul a {
    color: black;
    text-decoration: none;
  }
  
  ul a li {
    list-style: none;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
  }

  ul a li:hover {
    text-decoration: underline;
  }
  
  .about-vendor {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    padding: 20px 0;
    width: 100%;
  }
  
  .about-vendor img {
    width: 200px;
    object-fit: contain;
    height: 200px;
    border-radius: 2px;
  }
  
  .vendor-details {
    display: flex;
    flex-direction: column; 
    padding: 25px;
    row-gap: 0px;
    justify-content: space-between;
  }
  
  
  .detailss {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .vendor-details a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: .9rem;
    padding: 8px;
  } 
  
  .vendor-full-name {
    font-size: 1.25rem;
  }
  
  .title {
    font-size: 1.15rem;
  }
  
  .details {
    font-weight: 200;
    font-size: .99rem;
    line-height: 25px;
  }
  
  
  .motivation-container {
    color: white;
    /* box-sizing: content-box; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("https://mesinasanders.com/cdn/shop/files/IMG_7045_2778660f-15f5-4b57-8556-b6201317ed3c.jpg?v=1685224815");
    /* padding: 25px 10px 15px 10px; */
    width: 1-0%;
  }
  
  .qoute-name {
    font-size: 1.55rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .qoute {
    font-size: 1.2rem;
    text-align: justify;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    line-height: 22px;
    width: 90%;
  }
  
  .icons-container {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
  }
  
  .icons-container i {
    font-size: .55rem;
    color: gray;
    cursor: pointer;
  }
  
  .slide-qoute {
    background-color: rgba(0, 0, 0, 0.345);
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
  }
  
  .fa-play-container {
    padding: 5px 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.345);
    align-items: center;
    justify-content: center;
    column-gap: 4px;
  }
  
  
  .infomation-container {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: column;
    padding: 0px;
    align-items: start;
    column-gap: 0;
    border-bottom: 1px solid rgb(163, 163, 163);
  }
  
  .vendor-details {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }
  
  .vendor-full-name2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
  }
  
  .vendor-email {
    font-size: .99rem;
    font-family: 'Tillana', system-ui;
    opacity: .8;
  }
  
  .vendor-contact {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0  0  8px 25px ;
  }
  
  .contact-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
  }
  
  .contact-options {
    display: flex;
    /* font-family: 'Roboto', sans-serif; */
    font-size: .99rem;
    column-gap: 10px;
    flex-direction: column;
    row-gap: 4px;
    /* background-color: aquamarine; */
    font-family: 'Tillana', system-ui;
  }
  
  .contact-options  a {
    color: black;
    opacity: .8;
    text-decoration: none;
    font-family: 'Tillana', system-ui;
  }
  
  .media-link {
    display: flex;
    align-items: center;
    padding: 20px 0 10px 20px;
    column-gap: 10px;

  }
  
  .media-link a img {
    width: 20px;
    margin-right: 10px;
  }
  
  
  .here {
    text-decoration: underline;
  }
}